<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genart</title>
  </head>
  <body>
    <h1>genart</h1>
    <ul>
      <% AllPieces.forEach(piece => { %>
        <li><a href='/genart/<%= piece.id %>.html'><%= piece.jsName %></a></li>
      <% }) %>
    </ul>
  </body>
</html>