<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= piece.pieceNum; %></title>
    <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script src="js/vendor/seedrandom.min.js"></script>
<% if (piece.pieceObj.default.renderer === 'p5') {
    console.log("piece is p5!");
%>
<script src="js/vendor/p5/p5.min.js"></script>
<% } else if (piece.pieceObj.default.renderer === 'pixi') { %>
    <script src="js/vendor/pixi.js"></script>
<% } %>
<script src="js/pieces/<%= piece.jsName; %>" type="module"></script>
</body>
</html>