
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canvas-p5/<%= piece.id %></title>
    <link href="styles/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script src="js/vendor/p5/p5.js"></script>
    <script src="js/pieces/<%= piece.jsName %>"></script>
  </body>
</html>